#textdomain wesnoth-A_Rough_Life
[scenario]
    name= _ "Following Destiny"
    id=13_Following_Destiny
    next_scenario=null
	victory_when_enemies_defeated=no
	
	[story]
		[part]
			story= _ "A fast boat with a capable crew who knew the bearings they had to take was provided to Jacques who immediately left for the home shore. Now that his decision was made, every day counted." 
		[/part]
		[part]
			story= _ "The journey was swift and not many days passed when Jacques saw what seemed like familiar shores." 
	    [/part]
		[part]
			story= _ "Soon, he spotted the little island where he was captured to be sold off as a slave. In reality, it was only a few months ago, but to Jacques it seemed like an eternity. He has changed so much from that gullible young boy." 
	    [/part]
		[part]
			story= _ "The ship finally dropped anchor and a small boat was lowered to take Jacques ashore. As soon as the boat touched hard soil, Jacques jumped off and ran towards the home village, where he was met by an unfortunate sight..."
	    [/part]
	[/story]
	
    map_data="{@campaigns/A_Rough_Life/maps/coming_home.map}"
    {SCENARIO_MUSIC "vengeful.ogg"}
    turns=-1

	{FIRST_WATCH}
	
    [side]
        side=1
        controller=human
        id=Jacques
        name= _ "Raging Jacques"
        type=Battle_Commander
		fog=no
		canrecruit=yes
        recruit=0
        team_name=Jacques
        village_gold=1
	[/side]

    [side]
        side=2
		id=" "
        name= _ " "
        type=Invisible Leader
        canrecruit=yes
		recruit=0
		enemy=1
        [ai]
            aggression=1
			passive_leader=yes
            ignore_bad_movement=yes
            ignore_bad_combat=yes
			[target]
				id=Young Jacques
				value=50
			[/target]
            grouping=offensive
        [/ai]
		[avoid]
			x,y=10,3
		[/avoid]
		[avoid]
			x,y=11,3
		[/avoid]
		[avoid]
			x,y=12,3
		[/avoid]
		[avoid]
			x,y=10,4
		[/avoid]
		[avoid]
			x,y=11,4
		[/avoid]
		[avoid]
			x,y=12,4
		[/avoid]
		[avoid]
			x,y=11,5
		[/avoid]
		team_name=shadows
    [/side]
	
    [event]
        name=prestart
		side=1
        [objectives]
            [objective]
                description= _ "There is little to do but follow the urge."
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Jacques."
                condition=lose
            [/objective]
        [/objectives]
		
		[item]
			x,y=11,3
			halo=scenery/fire1.png
		[/item]
		[item]
			x,y=12,3
			halo=scenery/fire2.png
		[/item]
		[item]
			x,y=12,4
			halo=scenery/fire3.png
		[/item]
		[item]
			x,y=11,5
			halo=scenery/fire4.png
		[/item]
		[item]
			x,y=10,4
			halo=scenery/fire5.png
		[/item]
		[item]
			x,y=10,3
			halo=scenery/fire6.png
		[/item]
		{MODIFY_UNIT id=Jacques name _"Raging Jacques"}
	[/event]

{NO_SCROLL_TO_AI_LEADER 2}

    [event]
        name=start

		{CLEAR_VARIABLE farmers_killed}
        {VARIABLE farmers_killed 0}

		{CLEAR_VARIABLE Jacques_store}
		
		{CLEAR_VARIABLE transition}
        {VARIABLE transition 0}
				
		[if]
			[have_unit]
				type=Thief
			[/have_unit]
		[then]
			[set_variable]
				name=transition
				add=1
			[/set_variable]
		[/then]
		[else]
			[if]
				[have_unit]
					type=Sand_Trapper
				[/have_unit]
			[then]
				[set_variable]
					name=transition
					add=2
				[/set_variable]
			[/then]
			[/if]
		[/else]
		[/if]
		
		[unit]
			type=Peasant
			side=2
			x,y=7,5
		[/unit]
		[unit]
			type=Peasant
			side=2
			x,y=15,6
		[/unit]
		[unit]
			type=Peasant
			side=2
			x,y=6,15
		[/unit]
		[unit]
			type=Peasant
			side=2
			x,y=7,10
		[/unit]
		[unit]
			type=Peasant
			side=2
			x,y=14,4
		[/unit]
		[unit]
			type=Peasant
			side=2
			x,y=2,13
		[/unit]
		[unit]
			type=Peasant
			side=2
			x,y=14,14
		[/unit]
		[unit]
			type=Peasant
			side=2
			x,y=11,10
		[/unit]
		[unit]
			type=Woodsman
			side=2
			x,y=11,7
		[/unit]
		[unit]
			type=Woodsman
			side=2
			x,y=13,9
		[/unit]
		[unit]
			type=Woodsman
			side=2
			x,y=8,12
		[/unit]
		[unit]
			type=Woodsman
			side=2
			x,y=19,12
		[/unit]
		[unit]
			type=Woodsman
			side=2
			x,y=9,16
		[/unit]
		[unit]
			type=Woodsman
			side=2
			x,y=4,8
		[/unit]
		[unit]
			type=Woodsman
			side=2
			x,y=8,2
		[/unit]
		[unit]
			type=Woodsman
			side=2
			x,y=10,9
		[/unit]
		
		[message]
            speaker=narrator
            message= _ "It is dark as Jacques comes to the edge of the country path that leads to the village. Suddenly, he spots smoke rising from behind the hill."
			image=wesnoth-icon.png
        [/message]
        [message]
            speaker=narrator
            message= _ "He realises that it's his parents' house that is on fire, and that the culprits must be all the villagers that he sees standing around."
			image=wesnoth-icon.png
        [/message]
        [message]
            speaker=narrator
            message= _ "Jacques is filled with rage and he cries out in pain."
			image=wesnoth-icon.png
        [/message]
		[message]
            speaker=Jacques
            message= _ "You bastards! You will pay for this, and the price will be dear!"
        [/message]
		[message]
            type=Peasant
            message= _ "Who are you?"
        [/message]
		[message]
            speaker=Jacques
            message= _ "I am the little boy you sold off to slavery and whose family you have attacked! And I have come to exact revenge!"
		[/message]
		[message]
            type=Peasant
            message= _ "Jacques? Oh my. Please, have mercy! Let us explain!"
        [/message]
		[message]
            speaker=Jacques
            message= _ "There will be no mercy today, only rage!"
		[/message]
    [/event]

[event]
	name=post_advance
	first_time_only=no
	[filter]
		id=Jacques
	[/filter]
	[if]
		[variable]
            name=transition
            equals=2
		[/variable]
	[then]
		{TRANSFORM_UNIT type=Sand_Ranger Battle_Commander}
		[store_unit]
			[filter]
				id=Jacques
			[/filter]
			variable=Jacques_store
		[/store_unit]
		{VARIABLE Jacques_store.experience 0}
		[unstore_unit]
			variable=Jacques_store
		[/unstore_unit]
		{FULL_HEAL (id=Jacques)}
		{CLEAR_VARIABLE Jacques_store}
		[set_variable]
			name=transition
			add=1
		[/set_variable]
	[/then]
	
	[else]
	
	[if]
		[variable]
            name=transition
            equals=1
		[/variable]
	[then]	
		{TRANSFORM_UNIT type=Rogue Sand_Trapper}
		[store_unit]
			[filter]
				id=Jacques
			[/filter]
			variable=Jacques_store
		[/store_unit]
		{VARIABLE Jacques_store.experience 0}
		[unstore_unit]
			variable=Jacques_store
		[/unstore_unit]
		{FULL_HEAL (id=Jacques)}
		{CLEAR_VARIABLE Jacques_store}
		[set_variable]
			name=transition
			add=1
		[/set_variable]
	[/then]
	[/if]
	
	[/else]
	[/if]
[/event]
	
	[event]
		name=moveto
		[filter]
            side=1
            x,y=1-20,1-9
		[/filter]
		{SCROLL_TO 11 4}
			[delay]
				time=300
			[/delay]
		[item]
			x,y=11,4
			halo=scenery/fire7.png
		[/item]		
			[delay]
				time=300
			[/delay]
		[message]
            speaker=Jacques
            message= _ "NOOOO!"
		[/message]
	[/event]
	
	[event]
		name=die
		[filter]
			id=Jacques
		[/filter]
		[message]
			speaker=narrator
			message= _ "Even with all his might, Jacques is overcome by the sheer numbers of the farmers that stand up against his rage. He takes many of them down with him, but ultimately they prevail, and Jacques is no more."
			image=wesnoth-icon.png
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
	
	[event]
		name=die
		first_time_only=no
		[filter]
			side=2
		[/filter]
		[set_variable]
			name=farmers_killed
			add=1
		[/set_variable]
		[if]
			[variable]
				name=farmers_killed
				equals=16
			[/variable]
		[then]
			[message]
				speaker=unit
				message= _ "Why... why did you kill us?"
			[/message]
			[message]
				speaker=Jacques
				message= _ "That's nice coming from you, after you had decided to murder my family!"
			[/message]
			[message]
				speaker=unit
				message= _ "We... we... didn't murder anyone. The house ca... caught fire and we tried to help put it out."
			[/message]
			[message]
				speaker=Jacques
				message= _ "What do you mean, you tried to put it out?"
			[/message]
			[message]
				speaker=unit
				message= _ "We all ca... came out to help, becau... because you you can only fight fire in large numbers. And we would have probably made it, had you not... started with your masacre..."
			[/message]
			[message]
				speaker=narrator
				message= _ "With that, the last of the farmers dies."
				image=wesnoth-icon.png
			[/message]
			[message]
				speaker=Jacques
				message= _ "No! Liar! This cannot be true!"
			[/message]
			[message]
				speaker=narrator
				message= _ "And yet, Jacques fears that it very well may be. That explains the fear in the eyes of the farmers from his dream, as well as the tomb with his name on it from the visions in the Book."
				image=wesnoth-icon.png
			[/message]
			[message]
				speaker=Jacques
				message= _ "Aargh! The Book was right, and yet I let it mislead me. What have I done? By trying to save or revenge my family, I have as much as murdered them myself. And an entire village of innocent people, misguided perhaps, and yet half decent."
			[/message]
			[message]
				speaker=narrator
				message= _ "The shock is too much. Jacques has become the very thing he had fought against. In disgust, he discards all his gear, rips off his clothes and runs off to the woods, never to be seen again, either by Kyoko or anyone else."
				image=wesnoth-icon.png
			[/message]
			[endlevel]
				result=continue_no_save
				next_scenario=null
			[/endlevel]
		[/then]
		[/if]
	[/event]		
	
[/scenario]
