#textdomain wesnoth-A_Rough_Life
[scenario]
    name= _ "Led Astray"
    id=1_Led_Astray
    next_scenario=2_Captivity
		
    map_data="{@campaigns/A_Rough_Life/maps/led_astray.map}"
    {SCENARIO_MUSIC "revelation.ogg"}
    turns=30

    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
	{MORNING}
    {AFTERNOON}

    [side]
        side=1
        controller=human
        id=Young Jacques
        name= _ "Young Jacques"
        type=Thief
		profile="portraits/humans/poacher.png"
        fog=no
        canrecruit=yes
        team_name=Jacques
        gold=0
        income=0
        village_gold=0

        [unit]
            type=Ruffian
            side=1
            x=8
            y=10
        [/unit]
        [unit]
            type=Ruffian
            side=1
            x=8
            y=11
        [/unit]
		[unit]
            type=Ruffian
            side=1
            x=10
            y=10
        [/unit]
		[unit]
            type=Ruffian
            side=1
            x=10
            y=11
        [/unit]
		[unit]
            type=Ruffian
            side=1
            x=9
            y=12
        [/unit]
    [/side]

    [side]
        side=2
        controller=ai
        type=Peasant
        id=Greedy Farmer
        name= _ "Greedy Farmer"
        canrecruit=yes
        recruit=Peasant
        {GOLD 20 30 40}
        {INCOME 2 3 4}
        [ai]
            aggression=1
            leader_value=3
            village_value=1
            grouping=no
            caution=0.0
            passive_leader=yes
        [/ai]
        team_name=traders
    [/side]

	[side]
        side=3
        controller=ai
        type=Goblin Rouser
        id=Evil Goblin Trader
        name= _ "Evil Goblin Trader"
        canrecruit=yes
        recruit=Goblin Spearman
        {GOLD 20 30 40}
        {INCOME 3 4 5}
        [ai]
            aggression=1
			side=2
            leader_value=3
            village_value=1
			[target]
				id=Young Jacques
				value=3
			[/target]
            grouping=no
            caution=0.0
            passive_leader=yes
        [/ai]
        team_name=traders
    [/side]
	
	[side]
        side=4
        controller=ai
        type=Woodsman
        id=Greedy Villager
        name= _ "Greedy Villager"
        canrecruit=yes
        recruit=Woodsman
        {GOLD 20 30 40}
        {INCOME 2 3 4}
        [ai]
            aggression=0.8
			side=2
            leader_value=3
            village_value=1
            grouping=no
            caution=0.0
            passive_leader=yes
        [/ai]
        team_name=traders
    [/side]

	[side]
        side=5
        controller=ai
        type=Mudcrawler
        id=Mud Slime
        name= _ "Mud Slime"
        canrecruit=yes
        recruit=Mudcrawler
        gold=30
        income=4
        [ai]
            aggression=1
			side=2
            leader_value=3
            village_value=1
            grouping=no
            caution=0.0
            passive_leader=yes
        [/ai]
        team_name=slime
    [/side]
 
    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Have Jacques resist capture for as long as he can."
                condition=win
            [/objective]
            [objective]
                description= _ "Getting taken before turn 15."
                condition=lose
            [/objective]
        [/objectives]
    [/event]

	[story]
		[part]
			story= _ "It was a rough life, rotting away in the little village of Mosh, or so Jacques has come to believe ever since he heard the tales of faraway places. Big castles, powerful kings, mighty mages and fair maidens occupied his mind. Often, he would talk aloud of his plans to make it big, someday."
		[/part]
		[part]
			story= _ "His friends teased him about this, but not too much. After all, Jacques was the son of Yves the Surly, a drunk but nevertheless also the leader of a little band of bandits that harassed all the villages in the area. While this made Jacques unpopular with the common folk, it also gave him a sheltered existence." 
	    [/part]
		[part]
			story= _ "Thus Jacques dreamt of the day that he could leave and move on to greater things. And then, that day had arrived. Perhaps not quite as Jacques had envisioned it, but one should not be too picky when it comes to fate." 
	    [/part]
		[part]
			story= _ "A treasure ship was seen to have crashed onto a small island off the coast not far from Mosh, or at least that was the rumour circulating around the village pub. A treasure ship! Surely, that could be the ticket out of this life of poverty!"
	    [/part]
		[part]
			story= _ "Jacques called together his small band of ruffians and set off to the island to investigate. And this is where our story begins..."
	    [/part]
	[/story]
	
    [event]
        name=start
        [message]
            speaker=narrator
            message= _ "Jacques finds himself on the small island, but with no promised riches in sight."
			image=wesnoth-icon.png
        [/message]
        [message]
            speaker=narrator
            message= _ "Shielding his eyes from the evening sun to find the wrecked treasure ship, he spots smaller boats coming ashore, and finally the facts click into place. He has been tricked, and an unfortunate fate awaits him!"
			image=wesnoth-icon.png
		[/message]
        [message]
            speaker=narrator
            message= _ "He sees not one or two, but three encampments around him. First, there are the villagers who tricked him into coming to this island in the first place. He also spots some farmers, who confirmed that they saw the shipwreck from ashore and must be in on the scam. Finally, he sees what appears to be a band of goblin traders. To top it all, a local infestation of mud slime also seems to have developed on this island, but that is not necessarily bad news. The other three groups are what he worries about: traders and traitors - slime, the lot of them."
			image=wesnoth-icon.png
        [/message]
        [message]
            id=Evil Goblin Trader
            message= _ "Remember, there is a good price for each one taken! You may beat some sense into them, but do not waste them. Most importantly, catch their snotty little leader! He will fetch a handsome sum!"
        [/message]
        [message]
            id=Greedy Villager
            message= _ "Money! Gimme money!"
        [/message]
        [message]
            id=Greedy Farmer
            message= _ "Yes, money, and good riddance of that ruffian scum to boot!"
        [/message]
        [message]
            id=Mud Slime
            message= _ "Gurgle! (Food!)"
        [/message]
        [message]
            id=Greedy Farmer
            message= _ "Oh no! The island is infested with slime! How can this be? We have to get rid of it, before it manages to find its way onto our shores!"
        [/message]
        [message]
            id=Evil Goblin Trader
            message= _ "Do not forget the grand prize, peasants! The little thieves is what we're after, and surely we need not bother about some rubbish slime."
        [/message]
        [message]
            id=Mud Slime
            message= _ "Mrrrmm! (Hungry!)."
        [/message]
		[message]
            id=Young Jacques
            message= _ "I am not the thief on this island! Unless you count my stealing your senses with my club, you filthy goblins!"
        [/message]
        [music]
            name=knolls.ogg
        [/music]
    [/event]

    [event]
        name=turn 15
        [message]
            id=Young Jacques
            message= _ "Whatever happens, at least now I have proven my worth in cuts and bruises and may hold my head high."
        [/message]
    [/event]
	
	[event]
		name=attack
		[filter]
			type=Goblin Spearman
		[/filter]
		[if]
			[variable]
				name=second_unit.type
				equals=Mudcrawler
			[/variable]
		[then]
			[message]
				speaker=unit
				message= _ "Let me get rid of this slime for you amateurs! Shouldn't take long."
			[/message]
		[/then]
		[/if]
	[/event]
	
	[event]
		name=attack
		[filter]
			type=Mudcrawler
		[/filter]
		[if]
			[variable]
				name=second_unit.type
				equals=Goblin Spearman
			[/variable]
		[then]
			[message]
				speaker=second_unit
				message= _ "Hey! This thing can attack! Help, help!"
			[/message]
		[/then]
		[/if]
	[/event]
	
	[event]
		name=die
		[filter]
			id=Young Jacques
		[/filter]
		[if]		
			[variable]
				name=turn_number
				less_than=15
			[/variable]
			[then]
			[message]
				speaker=unit
				message= _ "Aaaargh!"
			[/message]
			[message]
				speaker=Evil Goblin Trader
				message= _ "Ahh! Not as springly as I thought. No special sale for him then, just your regular gallows..."
			[/message]
			[endlevel]
				result=defeat
			[/endlevel]
			[/then]
			[else]
			[message]
				speaker=unit
				message= _ "Aaaargh!"
			[/message]
			[message]
				speaker=Evil Goblin Trader
				message= _ "Ahh, a feisty little character, indeed! That will do nicely for where I am about to send him..."
			[/message]
			[kill]
				side=1
			[/kill]
			[endlevel]
				result=continue
				bonus=no
			[/endlevel]
			[/else]
		[/if]
	[/event]
    
	[event]
        name=turn 20
        [message]
            id=Evil Goblin Trader
            message= _ "This is tougher than I thought. Call in the heavy cavalry!"
        [/message]
        [allow_recruit]
			side=3
			type=Goblin Impaler
		[/allow_recruit]
		[gold]
		side=3
		amount=150
		[/gold]
		
		[message]
            id=Greedy Farmer
            message= _ "We've had enough. Let's go home, boys!"
        [/message]
		[kill]
		side=2
		[/kill]
		
		[message]
            id=Greedy Villager
            message= _ "Fall back, lads! Let the big guns take care of it."
        [/message]
		[kill]
		side=4
		[/kill]
    [/event]

[event]
    name=die
    [filter]
        id=Evil Goblin Trader
    [/filter]
    [message]
        id=Evil Goblin Trader
        message= _ "How can this be? And that summer villa for me to retire in was just one sales trip away..."
    [/message]
    [message]
        speaker=narrator
        message= _ "Against all odds, the boss of the goblin traders has been slain. And yet, the others still persevered and finally overcame the proud young douche..."
        image=wesnoth-icon.png
    [/message]
    [music]
        name=elf-land.ogg
        play_once=yes
    [/music]
    [message]
        id=Young Jacques
        message= _ "Ha! The dragon may have taken me after all, but its head has been cut off just the same. Never will my own head drop in disgrace like this."
    [/message]
	[kill]
		side=1
	[/kill]
    [endlevel]
        result=victory
        bonus=yes
    [/endlevel]
[/event]

[event]
    name=time over
    [message]
        speaker=narrator
        message= _ "Jacques has persevered for five days, and still he stands high upon a pile of slain adversaries. Finally, at long last, they manage to overcome him. Fear is in their eyes, but they still glisten in anticipation of the gold coins that such a sturdy fighter will fetch in the Wild Plains..."
		image=wesnoth-icon.png
	[/message]
    [sound]
        name=lightning.ogg
    [/sound]
	[kill]
		side=1
	[/kill]
	[endlevel]
        result=victory
        bonus=yes
    [/endlevel]
[/event]

[event]
	name=victory
	carryover_add=100
[/event]

[/scenario]
