#textdomain wesnoth-A_Rough_Life
[scenario]
    name= _ "Captivity"
    id=2_Captivity
    next_scenario=3_Hard_Labour

	[story]
		[part]
			story= _ "Jacques was taken to one of the ships of the traders waiting in the nearby deeper waters. A treasure ship, indeed! It was Jacques himself that was the treasure, and he could only wonder what the Goblin traders had in store for him." 
		[/part]
		[part]
			story= _ "He was taken below deck, to a cramped little cell, filled with other captives of all shapes and sizes. There were humans, no doubt tricked unawares like himself, but also several other races: sturdy little dwarves, pointy-eared elves, even merfolk that Jacques only ever saw in his dreams." 
	    [/part]
		[part]
			story= _ "On another day, he would consider this to be his dreams coming true. But not on that day, and not in the following weeks that he spent being seasick and homesick as the ship cut through the waves on its journey, day in and day out. Every now and then, a few of the captives would be taken away, and occasionally others would join the unfortunate crowd." 
	    [/part]
		[part]
			story= _ "Finally, his turn came. Weakened and debilitated from the long journey, feeling like all knowledge and experience had slipped away from him, he was taken ashore in a wondrous land, which to eyes unaccustomed to light seemed full of glistening golden sparkle. Jacques felt his spirits lifting as soon as he stepped on hard soil, but they sank again when, a few hours of tedious marching later, he and a few of his newfound friends were led into a cave and left open air behind them once more."
	    [/part]
		[part]
			story= _ "Once underground, they walked on for what seemed like an eternity. Jacques started thinking that he will never see the light of day again. Still, a wondrous sight opened up to the captives as they were finally pushed into what seemed like a grand chamber."
	    [/part]
	[/story]
		
    map_data="{@campaigns/A_Rough_Life/maps/captivity_throne_room.map}"
    {SCENARIO_MUSIC "wanderer.ogg"}
	turns=12
	victory_when_enemies_defeated=no

    {UNDERGROUND}
    {UNDERGROUND}
	{DUSK}
	{FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}

    [side]
        side=1
        controller=human
        id=Jacques
        name= _ "Dishevelled Jacques"
        type=Thief
		profile="portraits/humans/poacher.png"
		fog=no
        canrecruit=yes
        team_name=Jacques
        gold=0
        income=0
        village_gold=0

	[unit]
		side=1
        type=Spearman
        id=George
        name= _ "George"
		gender=male
		[modifications]
            {TRAIT_LOYAL}
        [/modifications]
		x=5
		y=9
    [/unit]
	
	[unit]
        side=1
        type=Saurian Augur
        id=Paula
        name= _ "Paula"
		gender=female
		[modifications]
            {TRAIT_LOYAL}
        [/modifications]
		x=6
		y=9
    [/unit]
 
 	[unit]
        side=1
        type=Orcish Grunt
        id=Carl
        name= _ "Carl"
		gender=male
		[modifications]
            {TRAIT_LOYAL}
        [/modifications]
		x=8
		y=9
    [/unit]
	
	[unit]
        side=1
        type=Elvish Archer
        id=Almain
        name= _ "Almain"
		gender=male
		[modifications]
            {TRAIT_LOYAL}
        [/modifications]
		x=9
		y=9
    [/unit]
	
    [/side]

    [side]
        side=2
        controller=ai
        type=Dwarvish Runemaster
        id=King Bombasan
        name= _ "King Bombasan"
        canrecruit=yes
        recruit=0
        gold=0
        income=0
        [ai]
            aggression=1
			side=1
            leader_value=3
            village_value=1
            grouping=no
            caution=0.0
            passive_leader=yes
        [/ai]
        team_name=Jacques
        [unit]
            type=Sergeant
            side=2
            x=5
            y=2
        [/unit]
		[unit]
            type=Sergeant
            side=2
            x=5
            y=3
        [/unit]
		[unit]
            type=Sergeant
            side=2
            x=5
            y=4
        [/unit]
		[unit]
            type=Sergeant
            side=2
            x=9
            y=2
        [/unit]
		[unit]
            type=Sergeant
            side=2
            x=9
            y=3
        [/unit]
		[unit]
            type=Sergeant
            side=2
            x=9
            y=4
        [/unit]
    [/side]

	[side]
        side=3
        controller=ai
        type=Arch Mage
        id=Ruphulus
        name= _ "Ruphulus"
        canrecruit=yes
        recruit=0
        gold=0
        income=0
        [ai]
            aggression=1
			side=1
            leader_value=3
            village_value=1
            grouping=no
            caution=0.0
            passive_leader=yes
        [/ai]
        team_name=Jacques
    [/side]
	
	[side]
        side=4
        controller=ai
        type=Lieutenant
        id=Lieutenant Popper
        name= _ "Lieutenant Popper"
        canrecruit=yes
        recruit=0
        gold=0
        income=0
        [ai]
            aggression=0.8
			side=1
            leader_value=3
            village_value=1
            grouping=no
            caution=0.0
            passive_leader=yes
        [/ai]
        team_name=Jacques
    [/side]

    [side]
        side=5
		id=" "
        name= _ " "
        no_leader=yes
		enemy=1
        [ai]
            passive_leader=yes
            ignore_bad_movement=yes
            ignore_bad_combat=yes
            grouping=no
        [/ai]
		team_name=beasts
    [/side]	
	
    [event]
        name=prestart
		side=1
        [objectives]
            [objective]
                description= _ "Defeat the beasts."
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Jacques or end of turns."
                condition=lose
            [/objective]
        [/objectives]
    [/event]

{NO_SCROLL_TO_AI_LEADER 5}

    [event]
        name=start
		[music]
			name=underground.ogg
		[/music]
		[message]
			speaker=narrator
			message= _ "It is a strange chamber - Jacques is certain that they are very deep, and pools of lava seem to confirm it. And yet, the chamber is also filled with exotic plants and two pools of water. There is no doubt that these are some strange lands... or strange people... or both."
        image=wesnoth-icon.png
		[/message]
		[message]
			speaker=narrator
			message= _ "Jacques is ushered in with four other newcomers, all of them seemingly as lost as he is. Before them, at some distance, they can see three thrones, although only two are occupied. Closer to them, they witness a heavily armed man who observes them, bemused."
        image=wesnoth-icon.png
		[/message]
        [message]
            id=Lieutenant Popper
            message= _ "An odd lot, we have got again, wouldn't you say, Your Highness?"
        [/message]
        [message]
            id=King Bombasan
            message= _ "As long as they do their job, Popper, as long as they do their job."
		[/message]
        [message]
            id=Lieutenant Popper
            message= _ "Of course, Your Highness. Now, allow me to offer a few welcoming words to the newcomers."
        [/message]
        [message]
            id=Lieutenant Popper
            message= _ "Welcome to the Wild Plains! As everything in life, you are here to serve a purpose. And this purpose is to make sure that the workers on the outside are safe from the beasts that would otherwise roam the plains."
        [/message]
        [message]
            id=Lieutenant Popper
            message= _ "Now, you do not need to know the ins and outs of why you are chosen to do this or why it even needs to be done in the first place. The only important thing to know is what you will be facing. Now, two of the most common types..."
        [/message]
		[sound]
			name=lightning.ogg
		[/sound]

		#ifdef EASY
		[unit]
			type=Giant Scorpion
			side=5
			x=5
			y=8
			team_name=beasts
		[/unit]
		[unit]
			type=Giant Scorpion
			side=5
			x=9
			y=8
			team_name=beasts
		[/unit]
		[unit]
			type=Wolf
			side=5
			x=6
			y=10
			team_name=beasts
		[/unit]
		[unit]
			type=Wolf
			side=5
			x=8
			y=10
			team_name=beasts
		[/unit]
		#endif

		#ifdef NORMAL
		[unit]
			type=Giant Scorpion
			side=5
			x=5
			y=8
			team_name=beasts
		[/unit]
		[unit]
			type=Giant Scorpion
			side=5
			x=9
			y=8
			team_name=beasts
		[/unit]
		[unit]
			type=Troll Whelp
			side=5
			x=6
			y=10
			team_name=beasts
		[/unit]
		[unit]
			type=Troll Whelp
			side=5
			x=8
			y=10
			team_name=beasts
		[/unit]
		#endif
		
		#ifdef HARD
		[unit]
			type=Giant Scorpion
			side=5
			x=5
			y=8
			team_name=beasts
		[/unit]
		[unit]
			type=Giant Scorpion
			side=5
			x=9
			y=8
			team_name=beasts
		[/unit]
		[unit]
			type=Giant Spider
			side=5
			x=6
			y=10
			team_name=beasts
		[/unit]
		[unit]
			type=Giant Spider
			side=5
			x=8
			y=10
			team_name=beasts
		[/unit]
		#endif
        
		[message]
            id=Ruphulus
            message= _ "Ahh, a picture is worth a thousand words, wouldn't you say?"
        [/message]
        [message]
            id=Lieutenant Popper
            message= _ "Argh! Ruphulus, I don't think that was the best idea. Well, I suppose this will be your first little test. Help us get rid of them, quick! And try not to get killed!"
        [/message]
       	[music]
			name=knalgan_theme.ogg
		[/music]
    [/event]

	[event]
		name=die
		[filter]
			id=Jacques
		[/filter]
		[message]
			speaker=unit
			message= _ "Aaaargh!"
		[/message]
		[message]
			speaker=King Bombasan
			message= _ "A shame indeed, he seemed to show promise, this young lad."
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
    
[event]
    name=time over
    [message]
        speaker=narrator
        message= _ "Not getting rid of all the beasts in time, Jacques is suspected of either being incapable or liking them too much to do the job he would be asked to do. Thus, he is stripped of his hunter duties and taken to the mines instead, left there to rotten until the end of his days..."
		image=wesnoth-icon.png
    [/message]
	[endlevel]
        result=defeat
        bonus=yes
    [/endlevel]
[/event]

[event]
	name=die
	[filter]
		id=Lieutenant Popper
	[/filter]
	[message]
        id=Lieutenant Popper
        message= _ "I'm getting killed! Quick, Ruphulus, get me out of here!"
    [/message]
	[sound]
		name=lightning.ogg
	[/sound]
	[message]
        id=Ruphulus
        message= _ "Hahahaha! Having fun yet?"
    [/message]
[/event]
	
[event]
    name=die
    [filter]
        type=Wolf
		[or]
		type=Giant Scorpion
		[/or]
		[or]
		type=Troll Whelp
		[/or]
		[or]
		type=Giant Spider
		[/or]
	[/filter]
	[message]
		speaker=second_unit
		message= _ "Die, beast!"
    [/message]

	[event]
		name=die
		[filter]
			type=Wolf
			[or]
			type=Giant Scorpion
			[/or]
			[or]
			type=Troll Whelp
			[/or]
			[or]
			type=Giant Spider
			[/or]
		[/filter]
		[message]
			speaker=second_unit
			message= _ "Two down, two more to go!"
		[/message]
	
		[event]
			name=die
			[filter]
				type=Wolf
				[or]
				type=Giant Scorpion
				[/or]
				[or]
				type=Troll Whelp
				[/or]
				[or]
				type=Giant Spider
				[/or]
			[/filter]
			[message]
				speaker=second_unit
				message= _ "Only one more left!"
			[/message]

			[event]
				name=die
				[filter]
					type=Wolf
					[or]
					type=Giant Scorpion
					[/or]
					[or]
					type=Troll Whelp
					[/or]
					[or]
					type=Giant Spider
					[/or]
				[/filter]
				[message]
					speaker=second_unit
					message= _ "We did it!"
				[/message]
				[message]
					speaker=Ruphulus
					message= _ "Hahahaha, well done, kids."
				[/message]
				[message]
					speaker=King Bombasan
					message= _ "Ruphulus, your sense of humour is quite... astounding. Please do not bring these creatures into our halls anymore."
				[/message]
				[message]
					speaker=Ruphulus
					message= _ "But of course, Your Majesty. Your wish is my command, without a doubt."
				[/message]
				[message]
					speaker=Lieutenant Popper
					message= _ "Ok, enough *fun* for one day, I reckon. Newcomers, you will be escorted to your quarters. Get as much rest as you can, for tomorrow morning your work will commence."
				[/message]
				[message]
					speaker=Lieutenant Popper
					message= _ "And you, men, clean up this mess. What do I want? The floors polished clean. When do I want it? Now!"
				[/message]
				[endlevel]
				result=continue
				[/endlevel]
			[/event]
		[/event]
	[/event]
[/event]

[/scenario]
