[textdomain]
    name="wesnoth-A_Rough_Life"
    path="data/campaigns/A_Rough_Life/translations"
[/textdomain]

[campaign]
name= _ "A Rough Life"
abbrev=ARL
define=CAMPAIGN_A_ROUGH_LIFE

icon=data/core/images/units/human-outlaws/thief.png
image=data/core/images/portraits/humans/poacher.png
description= _ "You are a young thief dreaming of greatness. Will it befall you, or will you fall looking for it?

(A medium-length campaign with 16 scenarios, some of them only conversation. Note: This is a story-driven campaign where both maps and battles may warrant further improvements - any advice welcome via the forum.)

(Version 1.0, complete but further balancing likely needed, minor bugs possible. Many thanks to Turuk and Orcish Shyde for their involvement in furthering and improving the campaign.)"

first_scenario=1_Led_Astray
difficulties=EASY,NORMAL,HARD
difficulty_descriptions= _ "&data/core/images/units/human-outlaws/thief.png=Easy;*&data/core/images/units/human-outlaws/rogue.png=Medium;&data/core/images/units/human-outlaws/assassin.png=Hard"
[/campaign]

[binary_path]
    path=data/campaigns/A_Rough_Life/
[/binary_path]

#ifdef CAMPAIGN_A_ROUGH_LIFE

[binary_path]
    path=data/campaigns/A_Rough_Life
[/binary_path]

{@campaigns/A_Rough_Life/utils}

[+units]
    {@campaigns/A_Rough_Life/utils/abilities.cfg}
    {@campaigns/A_Rough_Life/utils/movetypes.cfg}   
    {@campaigns/A_Rough_Life/units}
[/units]

{@campaigns/A_Rough_Life/credits.cfg}

{@campaigns/A_Rough_Life/scenarios}
#endif